.main {
    margin-left: 250px;
    margin-top: 50px;
    width: 1000px;
    height: 500px;
    background-color: #DFF5FF;
   
}

.logo {
   display: inline-block;
   float: left;
   margin-top: 10px;
   margin-left: 10px;
   background-color: #67C6E3;
   color: white;
   padding: 5px 15px;
   font-size : 18px;
   margin-bottom: 10px;
   border-radius: 10px;
}

.search-bar {
  margin-left: 350px;
  display: inline-block;
  margin-top: 200px;
  

}

.search-bar  input[type=text] {
    width: 60%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: black;

}

.user-icon {
    float: right; 
    margin-top: 10px;
    margin-right: 15px; 
    display: inline-block;
    width: 120px; 
}

.user-icon img {
    width: 100%; 
    height: auto;
}
